<div style="border: solid; height: 200px; max-width: 300px">

        <ul>
            {% for key, value in articleListPage %}
                    <li><a href="{{ value.article_url }}">{{ value.article_title }}</a></li>
            {% endfor %}
        </ul>

</div>